<!DOCTYPE html>
<html lang="en">
<head>
    <title>LOGIN SYSTEM</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/be3f167a2d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <div class="text">Register Form</div>
         <form action="/register" method="POST" id="form">
          <% if(messages.error) { %>
            <span class="message"><%= messages.error %></span>
            <% } %>
           <div class="field">
             <span class="fa fa-user"></span>
             <input type="email" name="email" placeholder="Email Id" required>
          
           </div>
           <div class="field">
             <span class="fa fa-lock"></span>
             <input type="password" name="password" placeholder="Password">
             
           </div>
           
           <button>Sign In</button>
          
           </div>
         </form>
       </div>
       
       </body>
       
</body>
</html>